@media (min-width: 768px) {
  /* START FONT */
  // start little font
  .about-page__body_text,
  .about__body_content_text,
  .sbu_child_services ul a,
  .news-item__body_content_text,
  .advantage__desc,
  .services-hero__text,
  .services-sec__text,
  .services-sec__item_text,
  .menu__part_submenu_item,
  .spec-text-wrap,
  .employee-page {
    font-family: 'Cera Pro';
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    letter-spacing: 0;
  }
  // end little font

  // start middle font
  .about__body_content_head,
  .news-item__body_content_name,
  .news-item__body_content_subhead,
  .advantage__title,
  .menu__part_item_link,
  .sbu_title_services a,
  .problems__title,
  .services-price__body_item_head .ac-trigger,
  .serv-page__body_item_spec-name,
  .employee-page__spec-title,
  .employee-page__feedback-subtitle,
  .faq__list-head {
    font-family: 'Cera Pro';
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: left;
  }
  // end middle font

  // start big font
  .about-page__big,
  .about__head.section__title,
  .section__title,
  .price-page__title,
  .employee-page__spec-name,
  .employee-page__spec-label,
  .employee-page__about-label,
  .employee-page__direct-label,
  .spec-licenz-title,
  .faq__list-title {
    font-family: 'Cera Pro';
    font-size: 50px;
    line-height: 61px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: left;
  }
  // end big font
  /* END FONT */

  /* START MARGIN & PADDING */
  // start верхний отступ на страницах
  .serv-page,
  .services-page,
  .news-item,
  .client-page,
  .employee-page,
  .price-page,
  .about-page,
  .contacts-page {
    margin: 60px 0 0;
  }
  // end верхний отступ на страницах

  // start между основными блоками
  .about,
  .serv,
  .serv2,
  .online,
  .promo,
  .problem-solution,
  .services-team,
  .services-serv,
  .services-sec,
  .services-pr,
  .services-qt,
  .fill,
  .serives-price,
  .spec-licenz,
  .price-page .services-price__action,
  .about-page__body_list,
  .about-page__team,
  .about-page__atm,
  .contacts-page__body_ex,
  .contacts-page__body_ex__wrap,
  .client,
  .price__row,
  .banner__btns,
  .faq {
    margin: 60px 0 0;
  }
  // end между основными блоками

  // start между элементами в основных блоках
  .all_services_blocks > ol > li,
  .services-price__action,
  .services_banner,
  .services-sec__list,
  .news-item__body_content_action,
  .wrap-block,
  .price-page__item,
  .contacts-page__body_ex_action,
  .faq__list-inner,
  .faq__list-body {
    margin: 30px 0 0;
  }
  // end между элементами в основных блоках

  // start заголовок
  .about__head,
  .serv__subhead,
  .serv2__head,
  .client__head,
  .promo__head,
  .problem-solution__head,
  .online__head,
  .services-team__head_title,
  .serv-page__head,
  .services-hero__title,
  .services-serv__head_title,
  .services-sec__head,
  .services-pr__head,
  .services-price__head,
  .news-item__head,
  .employee-page__spec-name,
  .employee-page__spec-label,
  .employee-page__about-label,
  .employee-page__direct-label,
  .spec-licenz-title,
  .price-page__title,
  .about-page__big,
  .about-page__atm_head,
  .contacts-page__head,
  .contacts-page__body_ex_head {
    margin-bottom: 25px;
  }
  // end заголовок

  // start подзаголовок
  .about__body_content_head,
  .services-price__body_item_head,
  .employee-page__feedback-subtitle,
  .news-item__body_content_name,
  .news-item__body_content_date {
    margin-bottom: 20px;
  }
  // end подзаголовок

  // start подзаголовок со стрелкой
  .about__body_content_link,
  .problem-solution__subhead,
  .online__subhead,
  .services-team__head_subhead,
  .faq__list-item {
    margin-bottom: 15px;
  }
  // end подзаголовок со стрелкой

  // start заголовок внутри элементов
  .advantage__title {
    margin-bottom: 10px;
  }
  // end заголовок внутри элементов
  /* END MARGIN & PADDING */

  // START ТАБЛИЦА ЦЕН
  // start заголовок
  .services-price__body_item_panel_content .table__item.table__head {
    padding: 0 0 15px;
  }
  // end заголовок
  // start пункты
  .services-price__body_item_panel_content .table__item {
    padding: 15px 0;
  }
  // end пункты
  // END ТАБЛИЦА ЦЕН

  // START GAP
  .services-pr__body,
  .about-page__body_list,
  .promo__body {
    gap: 30px 10px;
  }
  // END GAP
}
